{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">

  <!-- Latest compiled and minified CSS -->
  <!--Import Google Icon Font-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <title>{% block title %} Iniciativa Cuarentena {% endblock %}</title>
</head>

<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: "791906151218334",
        cookie: true,
        xfbml: true,
        version: "v6.0"
      });

      FB.AppEvents.logPageView();
    };

    (function(d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    })(document, "script", "facebook-jssdk");

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }
  </script>



  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v6.0&appId=791906151218334&autoLogAppEvents=1"></script>

  <header>
    <nav>
      <div class="nav-wrapper #ffffff white">
        <a href="#" class="black-text">FORO INICIATIVA CUARENTENA</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>
          </li>
        </ul>
      </div>

    </nav>
  </header>

  <main>
    <div class="container">
      <div class="video-container responsive-video">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/b3z7jrmVawY" frameborder="0" allowfullscreen></iframe>
      </div>

      <h3>¿Qué problema te gustaría resolver en estos 40 días?</h3>

      <div class="fb-comments" data-href="https://www.iniciativacuarentena.org/" data-width="100%" data-numposts="10"></div>
    </div>
  </main>

  <footer class="page-footer white">
    <div class="footer-copyright N/A transparent black-text">
      <div class="container">
        <span>Unidos hacemos más </span>
        <span class="right">contacto@iniciativacuarentena.org</span>
      </div>
    </div>
  </footer>

</body>

</html>